br
br
if page.categories
  | > #{objName}.category
  br
  each val in page.categories.data
    a(href='/categories/#' + val.name class="category")
      span= val.name
  br
  br
if page.tags.data
  | > #{objName}.tags
  br
  each val in page.tags.data
    a(href='/tags/#'+val.name class="tag")
      span= val.name
  br
  br
if page.next
  | > #{objName}.prev
  br
  a(href=url_for(page.next.path))
    span.answer= page.next.title
  br
  br
if page.prev
  | > #{objName}.next
  br
  a(href=url_for(page.prev.path))
    span.answer= page.prev.title
