- var fileName = page.title || 'home'
- var objNames = []
each obj, objName in theme.terminal
  - objNames.push(objName)
- var flag = 0
if page.title === 'about'
  - flag = 1
else if page.title === 'tags'
  - flag = 2
else if is_post()
  - flag = 3
- var objName = objNames[flag]
#terminal-pl
  #top-bar
    ul#control
      li.btn
      li.btn
      li.btn
    #file-path #[i(class="fa fa-folder folder-ic" aria-hidden="true")] #{config.author} 10 X 10
  #code-pl
    | Last updated: #{date(page.date, config.date_format)}
    br
    | #{config.author}:~ Desktop$ 
    span(class="code-pl-input") node #{fileName}.js
    if theme.terminal[objName] !== null
      each obj, key in theme.terminal[objName]
        br
        br
        | > #{objName}.#{key}
        br
        if obj.typ === 'string'
          span.answer= obj.val
        else if obj.typ ==='link'
          a(href=obj.url target="_blank")
            span.answer= obj.val
        else if obj.typ ==='array'
          | [
          span.answer= obj.val.split(' ').join(', ')
          | ]
    if flag === 2
      include ./terminal/terminal-tags.pug
    else if flag === 3
      include ./terminal/terminal-categories.pug
    else if flag === 4
      include ./terminal/terminal-post.pug
      
      
      
