if theme.utterances
  script(type='text/javascript'
    src= "https://utteranc.es/client.js"
    repo= theme.utterances
    issue-term= "pathname"
    theme= "github-light"
    crossorigin= "anonymous"
    async= true)
    